%p
  ="Dear "+ @name + ","
%p="Could you get in touch with me please?"

%dl
  %dt Name:
  %dd=@name
  %dt Email:
  %dd=@email
  %dt Telephone:
  %dd=@telephone

%p=@message

%p Kind Regards,
%p= "bs00645"
